.profile-page {
    display: flex;
}

.profile-content {
    width: calc(100%);
    height: 100vh; /* Полная высота экрана */
}

.profile-content h1 {
    margin-bottom: 1rem;
}


.sprints-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; /* Отступ между блоками */
  }
  

  .sprints-grid-header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #ffffff; /* Цвет фона блока */
    font-weight: bold; /* Жирный текст */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    padding: 10px; /* Внутренний отступ */
    gap: 30px; /* Увеличиваем расстояние между элементами */
  }
  
  .sprint-tile {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Так же, как и для основной сетки */
    background-color: #ffffff; /* Цвет фона блока */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    padding: 10px; /* Внутренний отступ */
    gap: 30px; /* Увеличиваем расстояние между элементами */
    cursor: default; /* Изменение курсора при наведении */
  }
  
  .sprint-tile:hover {
    background-color: #f5f5f5; /* Изменение цвета фона при наведении */
  }

  .edit_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit_button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор при наведении */
    font-size: 1.2rem; /* Размер шрифта */
    padding: 0; /* Убираем отступы */
    margin-right: 10px; /* Отступ справа */
  }