.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #49c61d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .submit-button:hover {
    background-color: #49c61d;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  
  .link {
    color: #000000;
    /*text-decoration: none;*/
  }
  
  .link:hover {
    text-decoration: underline;
  }