.create-team-page {
    padding: 20px;
}

.team-form-content {
    max-width: 500px;
    margin: auto;
}

.team-form-content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='gray'><polygon points='0,0 10,10 20,0'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    padding-right: 30px;
}

.create-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6cc24a;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.create-button:hover {
    background-color: #5aa83e;
}

.success-message, .error-message {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}
