.sidebar {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.tab {
    cursor: pointer;
}

.tab_children {
    padding-left: 34px;
    padding-top: 10px;
    flex-direction: column;
    display: flex;
}

.tab_entry {
    color: black;
    display: flex;
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.selected {
    color: #ffffff;
    background-color: var(--alligator-green-dark);
}

.icon_cnt {
    width: 24px;
    height: 24px;
}

.text_cnt {
    transition: color 0.2s ease-out;
    vertical-align: center;
    white-space: nowrap;
}

.tab_entry:not(.selected):hover {
    color: var(--alligator-green);
}

.arrow {
    height: 24px;
    width: 24px;
}

.arrow_up {
    transform: rotate(180deg);
}
