.logo {
  padding: 10px 25px;
  height: calc(100% - 20px);
  display: flex;
}

.logo span {
  font-size: 40px;
  color: var(--alligator-green);
  font-family: monospace;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
}
