.sidebar {
  width: 250px;
  height: 100vh;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  position: fixed;
}

.sidebar-header {
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu-item {
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Ensure submenu-list is under the menu-item */
  align-items: flex-start;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.menu-item > div {
  display: flex;
  align-items: center;
}

.menu-item:hover {
  color: #49c61d;
}

.menu-item:hover .menu-icon {
  transform: scale(1.2);
}

.menu-icon {
  margin-right: 1rem;
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.logout-container {
  margin-top: auto;
}

.logout-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.logout-item:hover {
  color: #49c61d;
}

.logout-item:hover .logout-icon {
  transform: scale(1.2);
}

.logout-icon {
  margin-right: 1rem;
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.submenu-list {
  list-style: none;
  padding-left: 20px;
  margin: 0; /* Remove default margin */
}

.submenu-item {
  cursor: pointer;
  padding: 5px 10px;
}

.submenu-item:hover {
  background-color: #f0f0f0;
}
