.profile_page {
    display: flex;
}

.profile_content {
    margin-left: 250px; /* Ширина бокового меню */
    padding: 0 2rem;
    width: calc(100% - 250px);
    background-color: #f9f9f9;
    height: 100vh; /* Полная высота экрана */
}

.profile_content h1 {
    margin-bottom: 1rem;
}

.sprints_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; /* Отступ между блоками */
}

.sprints_grid_header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #ffffff; /* Цвет фона блока */
    font-weight: bold; /* Жирный текст */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    padding: 10px; /* Внутренний отступ */
    gap: 0px; /* Увеличиваем расстояние между элементами */
    text-align: center; /* Центрируем текст */
}

.sprint_tile {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Так же, как и для основной сетки */
    background-color: #ffffff; /* Цвет фона блока */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    padding: 10px; /* Внутренний отступ */
    gap: 0px; /* Увеличиваем расстояние между элементами */
    cursor: default; /* Изменение курсора при наведении */
    align-items: center; /* Вертикальное выравнивание по центру */
    text-align: center; /* Центрирование текста */
}

.sprint_tile:hover {
    background-color: #f5f5f5; /* Изменение цвета фона при наведении */
}

.sprint_tile > div {
    overflow: hidden; /* Обрезаем переполняющий текст */
    text-overflow: ellipsis; /* Добавляем многоточие для переполняющего текста */
    display: flex; /* Используем Flexbox */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
}

.task_description {
    cursor: pointer; /* Указатель при наведении на описание */
    text-decoration: underline; /* Подчёркивание для описания */
}

.task_description:hover {
    color: blue; /* Изменение цвета текста при наведении */
}

.edit_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор при наведении */
    font-size: 1.2rem; /* Размер шрифта */
    padding: 0; /* Убираем отступы */
    margin-right: 10px; /* Отступ справа */
}


/* Styles for Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed position to overlay over the entire screen */
    z-index: 1000; /* High z-index to ensure it appears on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative; /* Ensure the close button is positioned relative to the content */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Стили для выпадающего списка с ролями */
.roleOptions {
    top: 100%; /* Размещение списка под полем выбора роли */
    left: 0; /* Выравнивание списка по левому краю поля */
    width: 100%; /* Ширина равна ширине поля */
    background-color: #fff; /* Цвет фона */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Закругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    z-index: 1; /* Отображение над другими элементами */
    padding: 5px 0; /* Внутренний отступ */
    max-height: 150px; /* Максимальная высота списка */
    overflow-y: auto; /* Включение вертикальной прокрутки, если элементов слишком много */
    display: flex; /* Располагаем элементы в столбик */
    flex-direction: column; /* Располагаем элементы в столбик */
    align-items: flex-start; /* Выравниваем элементы по левому краю */
}

/* Стили для элементов списка с ролями */
.roleOptions label {
    display: block; /* Отображение каждого элемента на отдельной строке */
    padding: 5px 10px; /* Внутренний отступ */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для отмеченного элемента списка */
.roleOptions label input[type="checkbox"] {
    margin-right: 5px; /* Отступ между чекбоксом и текстом */
}

/* Стили для отмеченного элемента списка */
.roleOptions label:hover {
    background-color: #f5f5f5; /* Изменение цвета фона при наведении */
}
